<ion-header>
    <ion-navbar>
        <ion-title>{{ 'addon.notes.notes' | translate }}</ion-title>

        <ion-buttons end>
            <core-context-menu>
                <core-context-menu-item [hidden]="!(notesLoaded && !hasOffline)" [priority]="100" [content]="'core.refresh' | translate" (action)="refreshNotes(false)" [iconAction]="refreshIcon" [closeOnClick]="true"></core-context-menu-item>
            </core-context-menu>
            <core-context-menu>
                <core-context-menu-item [hidden]="!(notesLoaded && hasOffline)" [priority]="100" [content]="'core.settings.synchronizenow' | translate" (action)="refreshNotes(true)" [iconAction]="syncIcon" [closeOnClick]="false"></core-context-menu-item>
            </core-context-menu>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher [enabled]="notesLoaded" (ionRefresh)="refreshNotes(false, $event)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="notesLoaded" class="core-loading-center">

        <div class="core-warning-card-icon" *ngIf="hasOffline">
            <ion-icon name="ion-alert-circled" class="padding"></ion-icon> {{ 'core.thereisdatatosync' | translate:{$a: notesStr} }}
        </div>

        <core-empty-box *ngIf="notes.length == 0" icon="ion-ios-list" [message]="'addon.notes.nonotes' | translate">
        </core-empty-box>

        <ion-list *ngIf="notes.length">
            <article class="card" *ngFor="let note of notes">
                <div class="item item-avatar">
                    <img *ngIf="note.userprofileimageurl" ng-src="{{note.userprofileimageurl}}" mm-external-content mm-user-link courseid="{{courseid}}" userid="{{note.userid}}" alt="{{ 'core.pictureof' | translate:{$a: note.userfullname} }}" role="presentation">
                    <img *ngIf="!note.userprofileimageurl" src="img/user-avatar.png" alt="{{ 'core.pictureof' | translate:{$a: note.userfullname} }}" role="presentation">
                    <div class="item-note" *ngIf="!note.offline">{{note.lastmodified | coreToLocaleString}}</div>
                    <div class="item-note" *ngIf="note.offline"><ion-icon name="clock"></ion-icon>{{ 'core.notsent' | translate }}</div>
                    <p>{{note.userfullname}}</p>
                </div>
                <div class="item item-body">
                    <core-format-text [clean]="true" [text]="note.content"></core-format-text>
                </div>
            </article>
        </ion-list>
    </core-loading>
</ion-content>
